<!DOCTYPE HTML>

{% load staticfiles %}

<html lang=”ru”>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{% static 'wiki_fiction/twitter_bootstrap/css/bootstrap.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'wiki_fiction/application.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'wiki_fiction/chosen/css/chosen.css' %}">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}
            {% include 'layouts/base_partials/header.html' %}
        {% endblock %}

        <div class="container">
            {% include 'layouts/base_partials/massages.html' %}
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        {% block javascripts %}
            <script type="text/javascript" src="{% static 'wiki_fiction/jquery/js/jquery-1.11.3.js' %}"></script>
            <script type="text/javascript" src="{% static 'wiki_fiction/twitter_bootstrap/js/bootstrap.js' %}"></script>
            <script type="text/javascript" src="{% static 'wiki_fiction/chosen/js/chosen.jquery.js' %}"></script>
            <script type="text/javascript" src="{% static 'wiki_fiction/application.js' %}"></script>
        {% endblock %}
    </body>
</html>
