{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'papers/css/index.css' %}">
{% endblock %}

{% block title %}Papers{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'papers:new' %}" class="btn btn-success">Add paper</a>
    </p>
    {% if paper_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-1">Title</th>
              <th class="col-md-5">Text</th>
              <th class="col-md-1">Rating</th>
              <th class="col-md-2">Created at</th>
              <th class="col-md-1">User</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody>
            {% for paper in paper_list %}
                <tr>
                  <th scope="row">{{ paper.id }}</th>
                  <td>{{ paper.title }}</td>
                  <td>{{ paper.text }}</td>
                  <td>{{ paper.rating }}</td>
                  <td>{{ paper.created_at|date:"d b, Y" }}</td>
                  <td>{{ paper.user.get_full_name }}</td>
                  <td>
                      <a href="{% url 'papers:show' paper.id %}" class="btn btn-success">Show</a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>No papers are available.</p>
    {% endif %}
{% endblock %}

