{% extends "papers/base_papers.html" %}

{% block title %}Papers{% endblock %}

{% block content %}
    {% if perms.papers.add_paper %}
        <p><a href="{% url 'papers:new' %}" class="btn btn-primary">Add paper</a></p>
    {% endif %}
    {% if paper_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-1">Title</th>
              <th class="col-md-2">Text</th>
              <th class="col-md-2">Tags</th>
              <th class="col-md-1">Rating</th>
              <th class="col-md-2">Created at</th>
              <th class="col-md-1">User</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            {% for paper in paper_list %}
                <tr>
                  <th scope="row">{{ paper.id }}</th>
                  <td>{{ paper.title }}</td>
                  <td>{{ paper.text }}</td>
                  <td>{{ paper.tag_names }}</td>
                  <td>{{ paper.rating }}</td>
                  <td>{{ paper.created_at|date:"d b, Y" }}</td>
                  <td>{{ paper.user.get_full_name }}</td>
                  <td>
                      <a href="{% url 'papers:show' paper.id %}" class="btn btn-sm btn-success">Show</a>
                      {% if perms.papers.change_paper %}
                          <a href="{% url 'papers:edit' paper.id %}" class="btn btn-sm btn-warning">Edit</a>
                      {% endif %}
                      {% if user.is_superuser or perms.papers.delete_paper and user.id == paper.user_id %}
                        <a href="{% url 'papers:delete' paper.id %}" class="btn btn-sm btn-danger">Delete</a>
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
            {% include 'pagination.html' with list=paper_list %}
    {% else %}
        <p>No papers are available.</p>
    {% endif %}
{% endblock %}
