{% extends "papers/base_papers.html" %}

{% block title %}Paper{% endblock %}

{% block content %}
    <h3 class="text-center">Paper</h3>
    <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd>{{  paper.title }}</dd>
        <dt>Rating</dt>
        <dd>{{  paper.rating }}</dd>
        <dt>Text</dt>
        <dd>{{  paper.text }}</dd>
        <dt>Tags</dt>
        <dd>{{  paper.tag_names }}</dd>
        <dt>Created at</dt>
        <dd>{{  paper.created_at|date:"d b, Y" }}</dd>
        <dt>User</dt>
        <dd>{{  paper.user.get_full_name }}</dd>
    </dl>
{#    <a href="{% url 'papers:index' %}" class="btn btn-primary">Go to list</a>#}
    {% if paper.comments.all %}
        <h3 class="text-center">Comments</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">User</th>
              <th class="col-md-7">Text</th>
              <th class="col-md-1">Rating</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody>
            {% for comment in paper.comments.all %}
                <tr>
                  <th scope="row">{{ comment.id }}</th>
                  <td>{{ comment.user.get_full_name }}</td>
                  <td>{{ comment.text }}</td>
                  <td>{{ comment.rating }}</td>
                  <td>
                      {% if perms.papers.delete_comment %}
                          <a href="{% url 'papers:delete_comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
    {% include 'papers/comment_form.html' %}
{% endblock %}
