{% extends "papers/layout.html" %}

{% block title %}Paper{% endblock %}

{% block content %}
    <h3 class="text-center">Paper</h3>
    <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd>{{ paper.title }}</dd>
        <dt>Rating</dt>
        <dd>{{ paper.rating | floatformat }}</dd>
        <dt>Text</dt>
        <dd>{{ paper.text }}</dd>
        <dt>Tags</dt>
        <dd>{{ paper.tag_names }}</dd>
        <dt>Created at</dt>
        <dd>{{ paper.created_at|date:"d b, Y" }}</dd>
        <dt>User</dt>
        <dd>{{ paper.user.get_full_name | default:"Mr. Nobody" }}</dd>
    </dl>
{#    <a href="{% url 'papers:index' %}" class="btn btn-primary">Go to list</a>#}
    {% if paper.comments.all %}
        <h3 class="text-center">Comments</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">User</th>
              <th class="col-md-7">Text</th>
              <th class="col-md-1">Rating</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody>
            {% for comment in paper.comments.all %}
                <tr>
                  <th scope="row">{{ comment.id }}</th>
                  <td>{{ paper.user.get_full_name | default:"Mr. Nobody" }}</td>
                  <td>{{ comment.text }}</td>
                  <td>{{ comment.rating | floatformat }}</td>
                  <td>
                      {% if perms.papers.delete_comment %}
                          <a href="{% url 'papers:delete_comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
    <h3 class="text-center">Add comment</h3>
    {% include 'papers/partials/comment_form.html' %}
{% endblock %}
