{% if is_paginated %}
    <nav>
      <ul class="pagination">
          {% if list.has_previous %}
              <li>
                  <a href="?page={{ list.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                  </a>
              </li>
          {% endif %}
          {% for num in p_range %}
              {% if num in list.paginator.page_range %}
                  {% if forloop.first or forloop.last %}
                      <li class="disabled"><a href="#">...<span class="sr-only">(current)</span></a></li>
                  {% else %}
                      <li class="{% if num == list.number %} active {% endif %}"><a href="?page={{ num }}">{{ num }}<span class="sr-only">(current)</span></a></li>
                  {% endif %}
              {% endif %}
          {% endfor %}
          {% if list.has_next %}
            <li>
              <a href="?page={{ list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          {% endif %}
      </ul>
    </nav>
{% endif %}